<main>
    <div class="chat">
        <div class="chat-list">
            {{{dialogs}}}
        </div>
        <div class="chat-content">
            <div class="chat-header">
                <div class="chat-header_user">
                    <div class="chat-header_user__avatar">
                        <img alt="аватарка" src="https://avatars.dzeninfra.ru/get-zen_doc/34175/pub_5cea2361585c2f00b5c9cb0b_5cea310a752e5b00b25b9c01/scale_1200"/>
                        <div></div>
                    </div>
                    <div class="chat-header_user__info">
                        <div>Марсик</div>
                        <div>В сети</div>
                    </div>
                </div>
                <div class="chat-header_actions">
                    <div>
                        <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M16.2681 14.3091C17.3571 12.8208 18 10.9855 18 9C18 4.02944 13.9706 0 9 0C4.02944 0 0 4.02944 0 9C0 13.9706 4.02944 18 9 18C10.852 18 12.5733 17.4406 14.0042 16.4816L19.3862 22L22.0001 19.5L16.2681 14.3091ZM9 15.163C5.59628 15.163 2.83702 12.4037 2.83702 9C2.83702 5.59628 5.59628 2.83702 9 2.83702C12.4037 2.83702 15.163 5.59628 15.163 9C15.163 12.4037 12.4037 15.163 9 15.163Z" fill="#D9D9D9"/>
                        </svg>
                    </div>
                    <div>
                        <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16 3C16 4.65685 14.6569 6 13 6C11.3431 6 10 4.65685 10 3C10 1.34315 11.3431 0 13 0C14.6569 0 16 1.34315 16 3Z" fill="#E6E6E6"/>
                            <path d="M16 13C16 14.6569 14.6569 16 13 16C11.3431 16 10 14.6569 10 13C10 11.3431 11.3431 10 13 10C14.6569 10 16 11.3431 16 13Z" fill="#E6E6E6"/>
                            <path d="M16 23C16 24.6569 14.6569 26 13 26C11.3431 26 10 24.6569 10 23C10 21.3431 11.3431 20 13 20C14.6569 20 16 21.3431 16 23Z" fill="#E6E6E6"/>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="chat-messages">
                {{{chatMessages}}}
            </div>
            <div class="chat-send">
                <div class="chat-send_attach">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.86388 17.6063C3.10457 18.847 4.73374 19.4672 6.36344 19.4671C7.99285 19.4669 9.62268 18.8467 10.8631 17.6063L18.6709 9.7985C20.4431 8.02625 20.443 5.14271 18.6708 3.37052C17.8124 2.512 16.6709 2.03922 15.4569 2.03922C14.2428 2.03922 13.1014 2.512 12.2428 3.37052L5.07779 10.5355C4.01448 11.5988 4.01448 13.3289 5.07779 14.3923C6.14121 15.4556 7.8714 15.4555 8.9347 14.3922L13.6527 9.67414C14.0077 9.31913 14.0077 8.74357 13.6527 8.38855C13.2978 8.03353 12.7222 8.03353 12.3671 8.38855L7.6491 13.1066C7.29469 13.4611 6.71792 13.4611 6.36338 13.1066C6.00897 12.7522 6.00897 12.1754 6.36338 11.821L13.5284 4.65611C14.0436 4.14104 14.7284 3.85735 15.4569 3.85735C16.1853 3.85735 16.8701 4.14104 17.3852 4.65611C18.4485 5.71948 18.4486 7.44961 17.3853 8.51297L9.57753 16.3206C7.80522 18.0928 4.92161 18.0927 3.14948 16.3206C2.29096 15.4621 1.81813 14.3207 1.81813 13.1066C1.81813 11.8926 2.29096 10.7511 3.14948 9.89256L10.9571 2.0848C11.3121 1.72978 11.3121 1.15416 10.9571 0.799201C10.6022 0.444242 10.0265 0.444181 9.67153 0.799201L1.86388 8.60696C0.66198 9.80887 0 11.4069 0 13.1066C0 14.8064 0.66198 16.4044 1.86388 17.6063Z" fill="black"/>
                    </svg>
                </div>
                {{{chatInput}}}
                <div class="chat-send_button">
                    <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.82759 6.25683C7.65394 5.75916 6.6759 5.34442 5.91603 5.14408C5.17997 4.95003 4.23127 4.84054 3.53327 5.56961C2.83528 6.29868 2.95515 7.2739 3.15411 8.02898C3.35949 8.80849 3.77619 9.80957 4.27621 11.0108L5.1073 13.0076H11.7088C12.2411 13.0076 12.6726 13.452 12.6726 14C12.6726 14.5481 12.2411 14.9924 11.7088 14.9924H5.10731L4.27621 16.9892C3.77619 18.1905 3.35949 19.1916 3.15411 19.9711C2.95515 20.7261 2.83528 21.7014 3.53327 22.4304C4.23127 23.1595 5.17997 23.0499 5.91603 22.856C6.6759 22.6556 7.65394 22.2408 8.82758 21.7432L23.5304 15.5092C23.7945 15.3974 24.0806 15.2762 24.2942 15.1472C24.4868 15.0308 25 14.687 25 14C25 13.313 24.4868 12.9693 24.2942 12.8528C24.0806 12.7238 23.7945 12.6026 23.5304 12.4908L8.82759 6.25683Z" fill="#4D79EC"/>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</main>
