<div class="navigation">
    {{> button/grey buttonText="Ошибка 404" buttonLink="../404/index.hbs"}}
    {{> button/grey buttonText="Ошибка 500" buttonLink="../500/index.hbs"}}
    {{> button/grey buttonText="Регистрация" buttonLink="../signup/index.hbs"}}
    {{> button/grey buttonText="Авторизация" buttonLink="../signin/index.hbs"}}
    {{> button/grey buttonText="Профиль" buttonLink="../profile/index.hbs"}}
    {{> button/grey buttonText="Чаты (заглушка)" buttonLink="../chatlist/index.hbs"}}
</div>