<div class="chat-item">
    <div class="chat-item_avatar">
        <img alt="Котик" src="https://avatars.dzeninfra.ru/get-zen_doc/34175/pub_5cea2361585c2f00b5c9cb0b_5cea310a752e5b00b25b9c01/scale_1200">
        {{#if dialogOnline}}<div></div>{{/if}}
    </div>
    <div class="chat-item_content">
        <div>{{dialogName}}</div>
        <div>{{dialogLastmessage}}</div>
    </div>
    <div class="chat-item_date">{{dialogTime}}</div>
</div>
